# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv/
env/
pip-log.txt
pip-delete-this-directory.txt
.python-version
.idea/ # Ignorer les fichiers de PyCharm/IntelliJ

# Django
*.log
*.sqlite3
db.sqlite3
/media/
/static/

# Fichiers de configuration sensibles (Doit être dans un .env ou ailleurs)
*.env
.env
.DS_Store # Mac OS

# Fichiers de développement et de cache
.vscode/
celerybeat-schedule
.pytest_cache/
htmlcov/
.coverage

# Déploiement
/staticfiles/