{% extends 'base.html' %}
{% block content %}
  <div class="text-center py-5">
    <h1 class="display-3 fw-bold text-success">Développement Web Rapide avec Django</h1>
    <p class="lead mt-3">Ce projet illustre l'efficacité et la sécurité du framework Django à travers ses composants clés : ORM, Templates, et Sécurité.</p>
    
    <h2 class="mt-5">Phases de la Présentation :</h2>
    <div class="d-grid gap-2 col-6 mx-auto mt-4">
      <a href="{% url 'mvt' %}" class="btn btn-primary btn-lg">Commencer la Présentation (Phase 1: MVT)</a>
    </div>
  </div>
{% endblock %}